<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<!--<add key="ConnectionString" value="server=.;database=InfoWebDB;Uid=sa;Pwd=123456"/>-->
		<add key="ConnectionString" value="14405E278F733CDDBA666E0142DDF083145E68193E655288DA3A5A1F543DBE841A95FFEC138976CDD839B816A9883358"/>
		<add key="FCKeditor:BasePath" value="~/fckeditor/"/>
		<add key="FCKeditor:UserFilesPath" value="~/userfiles/image"/>
		<!--a = "server=192.168.0.40;database=UFSystem;Uid=sa;Pwd="-->
		<add key="conProfit" value="14405E278F733CDDBA666E0142DDF083145E68193E655288DA3A5A1F543DBE841A95FFEC138976CDD839B816A9883358"/>
	</appSettings>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<webServices>
			<protocols>
				<!--正式发布应该注释掉 HttpGet HttpPost 以启用限制-->
				<add name="HttpGet"/>
				<add name="HttpPost"/>
				<!--放开限制：测试窗体只能用于来自本地计算机的请求-->
				<add name="HttpSoap"/>
				<!--默认启用-->
				<add name="Documentation"/>
				<!--默认启用-->
			</protocols>
		</webServices>
		<!--<httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx"
                type="System.Web.Script.Services.ScriptHandlerFactory"
                 validate="false"/>
    </httpHandlers>-->
		<httpRuntime requestValidationMode="2.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>